<?xml version="1.0" encoding="utf-8"?>
<robot name="robot_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="simulation_controllers" default="" />
  <xacro:arg name="hardware_driver" default="real" />

  <!-- Inlcudes -->
  <xacro:include filename="model.xacro" />
  <xacro:include filename="ros2_control.xacro" />

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- Load robot's macro with parameters -->
  <xacro:robot_arm prefix="$(arg prefix)" parent="world" >
    <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
  </xacro:robot_arm>

  <!-- Robot arm -->
  <xacro:robot_arm_ros2_control
      name="RobotArm"
      name2="RobotHand"
      prefix="$(arg prefix)"
      mock_sensor_commands="$(arg mock_sensor_commands)" 
      hardware_driver="$(arg hardware_driver)"/>

  <xacro:property name="driver" value="$(arg hardware_driver)"/>

  <!-- Webots plugin -->
  <xacro:if value="${driver == 'webots'}">
    <webots>
        <plugin type="webots_ros2_control::Ros2Control" />
    </webots>
  </xacro:if>  

  <!-- Gazebo plugin -->
  <xacro:if value="${driver == 'gazebo'}">

    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="$(arg prefix)base_link">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="$(arg prefix)shoulder_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="$(arg prefix)upper_arm_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="$(arg prefix)middle_arm_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="$(arg prefix)fore_arm_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="$(arg prefix)effector_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="$(arg prefix)finger_left_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="$(arg prefix)finger_right_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Yellow</material>
    </gazebo>

  </xacro:if>

</robot>
